@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

body {
  background-color: #FFDD67;
  color: #494949;
  font-family: 'Libre Franklin', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 4vh;
  margin-top: 10vh;
}

.row {
  display: flex;
  height: 25vh;
  align-items: center;
}

div.emojicon {
  flex: 3;
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
}
